body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(115, 115, 115);
  color: white;
}
.signUp {
  width: 50%;
  margin: 2rem 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}


/* formulaire */
form{
  box-shadow: 5px 5px 5px 5px red;
  padding: 2rem;

  border: 1px solid red;
}
form>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  height: 8vh;
}
textarea {
  height: 10vh;
}
input {
  height: 3vh;
}
form button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
form textarea,
form input {
  width: 100%;
}

span{
    height: 9vh;
    color: red;
}

#successGeneral{
  color: green ;
}

body>p{
  font-size: .6rem;
  text-align: center;
}

/* Tableau */
ul li{
  list-style-type: none;
}

table {
  /* width: 50%; */
  border-collapse: collapse; 
  margin: 20px 0px;
  font-size: 1rem;
}

th, td {
  border: 1px solid #ffffff;
  text-align: left; 
  padding: 8px;
}

th {
  background-color: #666666;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Ligne alternative pour plus de lisibilité */
}

tr:hover {
  background-color: #e0f7fa; /* Surbrillance au survol */
}


@media (min-width:480px) {
  #form {
    background: #666;
    padding: 2rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    width: 80%;
  }

  #form div {
    display: contents; 
  }

  label {
    color: white;
    align-self: center;
    justify-self: end;
    margin-right: 0.5rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
  }

  textarea {
    resize: vertical;
    min-height: 80px;
  }

  button {
    grid-column: 1 / 3;
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid black;
    background: #eee;
    cursor: pointer;
  }

  span {
    grid-column: 2 / 3;
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    height: 1vh;
    text-align: center;
  }
  /* tableau */
  table {
    width: 80%;
    border-collapse: collapse; 
    margin: 20px 0px;
    font-size: 1rem;
  }
  
  th, td {
    border: 1px solid #ffffff;
    text-align: left; 
    padding: 8px;
  }
  
  th {
    background-color: #666666;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Ligne alternative pour plus de lisibilité */
  }
  
  tr:hover {
    background-color: #e0f7fa; /* Surbrillance au survol */
  }
  body>p{
    font-size: 1rem;
    text-align: center;
  }
}

@media (min-width:960px) {
  
}