body{
    background-color: rgb(211, 211, 211) ;

}

h1{
    text-align: center;
    color: rgb(184, 103, 199);
}

.err{
    color: red;
}

.container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.container h2{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}


.formulaire{
    grid-column-start: 2;
    display: flex;
    background-color: rgb(149, 156, 159);
    border: solid 1px  rgb(184, 103, 199);
    border-radius: 10px;
    box-shadow: inset rgb(184, 103, 199) ;
    justify-content: center;
    text-align: end;
    margin: 0 auto;
    width: 450px;
    box-shadow: 1px 0px 11px 3px rgba(184,103,199,0.92);

}

img{
    margin: 0 auto;
}

label{
    grid-column-start:1;
    text-align: end;
    color: rgb(255, 255, 255);
}

input, textarea, button{
    background-color: rgb(46, 58, 64);
    width: 300px;
    border-radius: 5px;
    color: white;
    transition: 250ms;
    padding: 5px;
    &:focus{
        box-shadow: 1px 0px 11px 3px rgba(184,103,199,0.92);
    }
    &:hover{
        background-color: rgb(59, 74, 82);
    }
}
.bloc{
    margin-top: 10px;
}

button{
    margin-top: 25px;
}

@media (max-width: 480px){
    .container{
        grid-template-columns:1fr
    }
    .container h2{
        grid-column-start: 1;
    }
    img{
        width: 250px;
        height: auto;
    }

    .formulaire{
        grid-column-start: 1;
        margin-top: 20px;
        width: 400px;
        padding-bottom: 20px;
    }

    input, textarea, button{
        background-color: rgb(46, 58, 64);
        width: 250px;
        border-radius: 5px;
        color: white;
        transition: 250ms;
        padding: 5px;    
    }
}

@media (max-width: 960px){
    .container{
        grid-template-columns:1fr
    }
    .container h2{
        grid-column-start: 1;
    }
    img{
        width: 350px;
        height: auto;
    }

    .formulaire{
        grid-column-start: 1;
        margin-top: 20px;
        width: 350px;
        padding-bottom: 20px;
    }

    input, textarea, button{
        background-color: rgb(46, 58, 64);
        width: 250px;
        border-radius: 5px;
        color: white;
        transition: 250ms;
        padding: 5px;    
    }
}



    
